  
@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


  @keyframes spark-pulse {
    0% { box-shadow: 0 0 0 0 rgba(255, 140, 102, 0.5); }
    70% { box-shadow: 0 0 0 10px rgba(255, 140, 102, 0); }
    100% { box-shadow: 0 0 0 0 rgba(255, 140, 102, 0); }
  }
  